$mainColor: #22232c;
$textColor: #c1c2c5;
$mainFont: 'Maron Rose', sans-serif;

@import url('https://fonts.cdnfonts.com/css/maron-rose');
$secondaryColor: rgba(12, 12, 12, 0.4);
$secondaryColorHighlight: #33343F;
$secondaryColorLight: rgba(0, 0, 0, 0.5);
$secondaryColorDark: rgba(12, 12, 12, 0.8);

$gridCols: 5;
$gridRows: 5;
$gridSize: 11.2vh;
$gridGap: 5px;
$containerSize: calc(#{$gridRows} * #{$gridSize + 0.22vh} + #{$gridRows} * #{$gridGap});

body {
  margin: 0;
  font-family: 'Maron Rose', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: none !important;
  overflow: hidden !important;
  user-select: none;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::-webkit-scrollbar {
  display: none;
}

p {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.app-wrapper {
  height: 100%;
  width: 100%;
  color: white;
}

.context-menu-list {
  min-width: 250px;
  background: url(./photo/context-bg.png);
  filter: drop-shadow(0px 0px 10px rgba(218, 165, 32, 0.305));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: $textColor;
  padding: 5px;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: inset;
  border-width: 1px;
  border-radius: 4px;
  outline: none;
  display: flex;
  flex-direction: column;
}

.context-menu-item {
  padding: 5px;
  border-radius: 2px;
  background-color: rgba(128, 128, 128, 0.127);
  font-size: 12px;
  text-transform: uppercase;
  min-width: 120px;
  outline: none;
  border: none;
  color: $textColor;
  display: flex;
  justify-content: center;
  align-items: center;

  &:active {
    transform: none;
  }

  &:hover {
    background-color: rgba(149, 117, 36, 0.367);
    filter: drop-shadow(0px 0px 3px goldenrod);
    color: white;
    cursor: pointer;
  }
}

.tooltip-description {
  padding-top: 5px;
}

.tooltip-markdown>p {
  margin: 0;
}

button:active {
  transform: translateY(3px);
}

.item-drag-preview {
  width: 7.7vh;
  height: 7.7vh;
  z-index: 1;
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 7vh;
  image-rendering: -webkit-optimize-contrast;
}

.inventory-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 2.742vw;
}

.inventory-control {
  display: flex;

  .inventory-control-wrapper {

    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .inventory-control-input {
    transition: 200ms;
    padding: 16px 8px;
    border-radius: 2.5%;
    font-family: $mainFont;
    font-size: 16px;
    text-align: center;
    outline: none;
    border: none;
    color: #fff;
    background-color: $secondaryColor;

    &:focus-within {
      background-color: $secondaryColorDark;
    }
  }

  .inventory-control-button {
    font-size: 14px;
    color: #fff;
    background-color: $secondaryColor;
    transition: 200ms;
    padding: 12px 8px;
    border-radius: 2.5%;
    border: none;
    text-transform: uppercase;
    font-family: $mainFont;
    width: 100%;
    font-weight: 500;

    &:hover {
      background-color: $secondaryColorDark;
    }
  }
}

.useful-controls-dialog {
  background-color: $mainColor;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $textColor;
  width: 450px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 4px;
  gap: 16px;
}

.useful-controls-dialog-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.useful-controls-dialog-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.useful-controls-dialog-close {
  width: 25px;
  height: 25px;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  fill: $textColor;

  &:hover {
    background-color: $secondaryColorHighlight;
    cursor: pointer;
  }
}

.useful-controls-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.12);
}

.useful-controls-button {
  position: absolute !important;
  bottom: 25px;
  right: 25px;
  transition: 200ms !important;
  border: none;
  color: white;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: white;
  border-radius: 5% !important;
  background-color: $secondaryColor !important;

  &:hover {
    background-color: $secondaryColorDark !important;
    cursor: pointer;
  }
}

.useful-controls-exit-button {
  position: absolute !important;
  right: 8px;
  top: 8px;
  border-radius: 2.5% !important;
  color: grey !important;
}

// Dialog is used fro useful controls window


// inventory grids
.inventory-grid-wrapper {
  display: flex;
  flex-direction: column;
  gap: calc($gridGap * 2);

  margin-bottom: 15vh;
}

.inventory-grid-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 3vw;
    font-weight: 500;

  }
}

.inventory-grid-container {
  display: grid;
  height: $containerSize;
  grid-template-columns: repeat($gridCols, $gridSize);
  grid-auto-rows: $gridSize + 0.22vh;
  gap: $gridGap;
  overflow-y: scroll;
}

.inventory-grid-container2 {
  margin-top: 3vh;
  display: grid;
  height: 10vw;
  grid-template-columns: repeat($gridCols, $gridSize);
  grid-auto-rows: $gridSize + 0.22vh;
  gap: $gridGap;
  overflow-y: hidden;
}

// inventory slots
.inventory-slot {
  background: #c7b18644;
  border: .2vh solid wheat;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: -webkit-optimize-contrast;
  position: relative;
  background-size: 7vh;
  color: $textColor;
  overflow: hidden;
  border-radius: .5vh;
  // -webkit-backdrop-filter: blur(2vh);
  // backdrop-filter: blur(2vh);
  animation: zoomOutAndShake 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}




@keyframes zoomOutAndShake {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.inventory-slot:hover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 7vh;
  image-rendering: -webkit-optimize-contrast;
}

.inventory-slot:hover::after {
  animation: linear-shine 2.5s linear infinite;
}

.inventory-slot::after {
  content: '';
  position: absolute;
  left: 100%;
  width: 30%;
  height: 300%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), wheat, rgba(0, 0, 0, 0));
  animation: none;
  opacity: 0.15;
}

@keyframes linear-shine {
  0% {
    left: -200%;
  }

  25% {
    left: -150%;
  }

  50% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}

.inventory-slot-label-box {
  background-color: none;
  color: $textColor;
  text-align: center;
  border-bottom-left-radius: 0.25vh;
  border-bottom-right-radius: 0.25vh;
  border-top-color: rgba(0, 0, 0, 0.2);
  border-top-style: inset;
  border-top-width: 1px;
}

.inventory-slot-label-text {
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px 3px;
  font-weight: 400;
  font-family: $mainFont;
  font-size: 12px;
}

.inventory-slot-number {
  background-color: white;
  color: black;
  height: 12px;
  border-top-left-radius: 0.25vh;
  border-bottom-right-radius: 0.25vh;
  padding: 3px;
  font-size: 12px;
  font-family: $mainFont;
}

.item-slot-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  p {
    font-size: 12px;
  }
}

.item-slot-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.item-hotslot-header-wrapper {
  @extend .item-slot-header-wrapper;
  justify-content: space-between !important;
}

.item-slot-info-wrapper {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  padding: 3px;
  gap: 3px;

  p {
    font-size: 12px;
  }
}

.item-slot-currency-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 3px;

  p {
    font-size: 14px;
    text-shadow: 0.1vh 0.1vh 0 rgba(0, 0, 0, 0.7);
  }
}

.item-slot-price-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 3px;

  p {
    font-size: 14px;
    text-shadow: 0.1vh 0.1vh 0 rgba(0, 0, 0, 0.7);
  }
}


.tooltip-wrapper {
  pointer-events: none;
  display: flex;
  background: url(./photo/context-bg.png);
  filter: drop-shadow(0px 0px 10px rgba(218, 165, 32, 0.305));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 200px;
  padding: 8px;
  flex-direction: column;
  min-width: 200px;
  color: $textColor;
  font-family: $mainFont;
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: inset;
  border-width: 1px;

  p {
    font-size: 12px;
    font-weight: 400;
  }
}

.tooltip-left {
  position: absolute;
  width: 40px;
  top: 50%;
  left: 105%;
  transform: translate(-50%, -50%);
}

.tooltip-right {
  position: absolute;
  width: 40px;
  top: 50%;
  left: -5%;
  transform: translate(-50%, -50%);
}

.tooltip-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  p {
    font-size: 15px;
    font-weight: 400;
  }
}

.tooltip-crafting-duration {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  svg {
    padding-right: 3px;
  }

  p {
    font-size: 14px;
  }
}

.tooltip-ingredients {
  padding-top: 5px;
}

.tooltip-ingredient {
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    width: 28px;
    height: 28px;
    padding-right: 5px;
  }
}

// hotbar
.hotbar-container {
  display: flex;
  align-items: center;
  gap: 2px;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 2vh;
}

.hotbar-item-slot {
  @extend .inventory-slot;
  width: $gridSize;
  height: $gridSize;
}

.hotbar-slot-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// item notifications

.item-notification-container {
  display: flex;
  overflow-x: scroll;
  flex-wrap: nowrap;
  gap: 2px;
  position: absolute;
  bottom: 20vh;
  left: 50%;
  width: 100%;
  margin-left: calc(50% - calc($gridSize/2));
  transform: translate(-50%);
}

.item-notification-action-box {
  width: 100%;
  color: $textColor;
  background-color: $secondaryColor;
  text-transform: uppercase;
  text-align: center;
  border-top-left-radius: 0.25vh;
  border-top-right-radius: 0.25vh;
  font-family: $mainFont;

  p {
    font-size: 11px;
    padding: 2px;
    font-weight: 600;
  }
}

.item-notification-item-box {
  @extend .inventory-slot;
  height: $gridSize;
  width: $gridSize;
}

.durability-bar {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  height: 1vh;
  overflow: hidden;
  box-shadow: 0 0vh 1vh #231b0cb6;
}

.weight-bar {
  height: 1vh;
  background: linear-gradient(120deg, #c7b18693, #c7b18644);
  display: inline-flex;
  padding: .2vh;
  position: relative;
  border: .2vh solid wheat;
  -webkit-backdrop-filter: blur(2vh);
  backdrop-filter: blur(2vh);

}

.transition-fade-enter {
  opacity: 0;
}

.transition-fade-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.transition-fade-exit {
  opacity: 1;
}

.transition-fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.transition-slide-up-enter {
  transform: translateY(200px)
}

.transition-slide-up-enter-active {
  transform: translateY(0px);
  transition: all 200ms;
}

.transition-slide-up-exit {
  transform: translateY(0px);
}

.transition-slide-up-exit-active {
  transform: translateY(200px);
  transition: all 200ms;
}




.contex-img {
  width: 35px;
  background-color: rgba(149, 117, 36, 0.367);
  filter: drop-shadow(0px 0px 3px goldenrod);
  padding: 5px;
  border-radius: 3px;
  margin-right: 5px;
}

.context-infos {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}

.div-span {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.context-span {
  font-size: 15px;
  font-weight: 800;
  text-transform: uppercase;
}

.context {
  max-width: 45vh;
}

.contex-span2 {
  font-size: 13px;
  color: #a5a5a5;
  background-color: #0000002d;
  padding-left: 1vh;
  padding-right: 1vh;
  padding-top: .2vh;
  padding-bottom: .2vh;
}

.context-button {
  margin-top: 10px;
  margin-bottom: 5px;
}

.context-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-categories {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  text-transform: uppercase;
  padding: 5px;
}

.type {
  background-color: rgba(149, 117, 36, 0.367);
  padding: 2px;
  color: gold;
  font-size: 10px;
  min-width: 30px;
  text-align: center;
}

.rarity {
  background-color: rgba(149, 117, 36, 0.367);
  padding: 2px;
  color: gold;
  font-size: 10px;
  min-width: 30px;
  text-align: center;
}

.buttons-context {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  max-width: 45vh;

  button {
    font-family: 'Maron Rose', sans-serif;
    font-size: 15px;
  }
}

.context-arrow {
  position: absolute;
  width: 100%;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between
}

.qtty {
  display: flex;
  gap: 10px;
}

.qtty-item {
  background-color: rgba(149, 117, 36, 0.367);
  filter: drop-shadow(0px 0px 3px goldenrod);
  min-width: 50px;
  padding: 2px;
  text-align: center;
}

.decoration {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.inventory-slot-img {
  width: 22vh;
  height: auto;
  position: absolute;
  opacity: 0.8;
  pointer-events: none;
}

.inventory-slot-bg {
  width: 7vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // animation: prismaticShadow 3s infinite;
  pointer-events: none;
}

@keyframes prismaticShadow {
  0% {
    box-shadow: inset 0 0 30px .2vh rgba(255, 0, 0, 0.75),
      inset 0 0 60px .2vh rgba(0, 255, 0, 0.75),
      inset 0 0 30px .2vh rgba(0, 0, 255, 0.75),
      inset 0 0 40px .3vh rgba(255, 255, 0, 0.75);
  }

  25% {
    box-shadow: inset 0 0 30px .2vh rgba(0, 255, 0, 0.75),
      inset 0 0 60px .2vh rgba(0, 255, 251, 0.75),
      inset 0 0 30px .2vh rgba(255, 0, 0, 0.75),
      inset 0 0 40px .3vh rgba(255, 0, 0, 0.75);
  }

  50% {
    box-shadow: inset 0 0 30px .2vh rgba(255, 0, 251, 0.75),
      inset 0 0 60px .2vh rgba(0, 255, 157, 0.75),
      inset 0 0 30px .2vh rgba(0, 255, 0, 0.75),
      inset 0 0 40px .3vh rgba(47, 255, 0, 0.75);
  }

  75% {
    box-shadow: inset 0 0 30px .2vh rgba(255, 0, 0, 0.75),
      inset 0 0 60px .2vh rgba(0, 255, 0, 0.75),
      inset 0 0 30px .2vh rgba(0, 0, 255, 0.75),
      inset 0 0 40px .3vh rgba(255, 0, 0, 0.75);
  }

  100% {
    box-shadow: inset 0 0 30px .2vh rgba(255, 0, 0, 0.75),
      inset 0 0 60px .2vh rgba(0, 255, 0, 0.75),
      inset 0 0 30px .2vh rgba(0, 0, 255, 0.75),
      inset 0 0 40px .3vh rgba(0, 255, 255, 0.75);
  }
}



.decoration img:nth-child(1) {
  left: -.2vh;
  top: 0vh;
  pointer-events: none;

}

.decoration img:nth-child(2) {
  right: -.2vh;
  bottom: 0vh;
  transform: rotate(180deg);
  pointer-events: none;
}

.decoration img:nth-child(3) {
  right: -1.4vh;
  top: 1.2vh;
  transform: rotate(90deg);
  pointer-events: none;
}

.decoration img:nth-child(4) {
  left: -1.4vh;
  bottom: 1vh;
  transform: rotate(-90deg);
  pointer-events: none;
}

.inventory-slot-arrow {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vh;
  height: auto;
  pointer-events: none;
}


.circle-class {
  width: 4.5vh;
  height: 4.5vh;
  background-color: #c4a87675;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: .3vh solid rgb(239, 225, 200);
  padding: .6vh;
  // -webkit-backdrop-filter: blur(1vh);
  // backdrop-filter: blur(1vh);
  box-shadow: 0 1vh 3vh #231b0cb6;
}

.hotbar-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 10px;
}

.circle-class2 {
  width: 4.5vh;
  height: 4.5vh;
  background-color: #c4a87675;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: .2vh solid rgb(239, 225, 200);
  padding: .5vh;
  // -webkit-backdrop-filter: blur(1vh);
  // backdrop-filter: blur(1vh);
  box-shadow: 0 1vh 3vh #231b0cb6;
}



.circle-css {
  border-radius: 50%;
  background-color: #b89c66;
  width: 100%;
  border: .2vh solid wheat;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  animation: circle--animate 12s infinite linear;
}


@keyframes circle--animate {
  0% {

    transform: translate(-50%, -50%) rotate(0)
  }

  to {

    transform: translate(-50%, -50%) rotate(360deg)
  }
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  gap: 1.45vh;
  align-items: center;
  margin-right: -4vh;
  margin-top: -22vh;
  animation: zoomOutAndShake 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.felx_filter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-buttons button {
  width: 4vh;
  height: 4vh;
  background: url(./photo/context-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15%;
  color: wheat;
  font-size: 2vh;
  border: 1px solid wheat;
  position: relative;
  z-index: 2;
}

.filter-buttons button.active {
  border-color: goldenrod;
  color: goldenrod;
}


@keyframes bgspecial {
  0% {
    background-color: rgba(255, 0, 0, 0.382);
    border: 1px solid red;
  }

  25% {
    background-color: rgba(0, 128, 0, 0.389);
    border: 1px solid green;
  }

  50% {
    background-color: rgba(0, 0, 255, 0.339);
    border: 1px solid blue;
  }

  75% {
    background-color: rgba(255, 0, 0, 0.334);
    border: 1px solid red;
  }

  100% {
    background-color: rgba(0, 255, 255, 0.313);
    border: 1px solid cyan;
  }
}

.filter-div {
  position: relative;
}


.filter-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3.5vh;
  pointer-events: none;
  z-index: 1;
  animation: circle--animate 12s infinite linear;
  filter: drop-shadow(0px 0px 3px goldenrod);
}


.item-slot-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.quantity-div {
  margin-top: .5vh;
  display: flex;
  flex-direction: column;
  gap: .1vh;
  align-items: center;
  margin-bottom: 10px;
}


input[type="range"] {

  -webkit-appearance: none;
  appearance: none;
  min-width: 38vh;
  height: 10px;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 16px;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 10px;
  background: rgba(41, 41, 41, 0.738);
  border-radius: 16px;
}

input[type="range"]::-moz-range-track {
  height: 10px;
  background: #ccc;
  border-radius: 16px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  width: 10px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid rgba(218, 165, 32, 0.487);
  box-shadow: -407px 0 0 400px rgba(218, 165, 32, 0.404);

}



input[type="range"]::-moz-range-thumb {
  height: 10px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid goldenrod;
  box-shadow: -407px 0 0 400px goldenrod;
}


.hotbar-img {
  position: absolute;
  top: 2vh;
  max-width: 100%;
  height: auto;
}

.inventory-label {
  font-size: 20vh;
}

.header-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: flex-start;
  text-shadow: 0 0vh 1vh #231b0cb6;
}